@import './set.scss';
@import './color.scss';
@import './elements.scss';




body {
    font-family: 'Sen', montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #fcfcfc;
}


.container  {
    max-width: 1000px;
    margin:  0 auto;
}
// .active-link {
//     border-bottom: 3px solid #CE9D5E;
//     padding-bottom: 6px;
//     color: #CE9D5E;
// }

strong {
    font-size: 13px;
    color: #fff;
    font-style: italic;;
}

.cont {
    max-width: 1100px;
    margin: 0 auto;
}
p {
    font-size: 14px;
    color: $txt-color;
    line-height: 1.5em;
}

// brand name
.navbar_brand {

    img {
      width: 170px;
      padding-right: 12px;

      @include media-lg {
       padding: 0;
    }
    }
 }

//  nav links
.nav {
    @include align-items(space-between);
    padding: 15px;

  
}

.navbar {
    min-width: 55%;
    background-color: #f1f1f1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    margin-left: -600px;
    @include transition;

    @include media-lg {
        display:none
    }

    ul {
        margin-top: 50px;
        li {
            padding: 30px 0px 0px 20px ;

            a {
                font-size: 18px;
                color: #636363;
                font-weight: 500;
            }
        }
    }
}
.navbar-btn {
    font-size: 20px;
}
.closebtn {
    color: #000;
    font-size: 50px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 12px;
    cursor: pointer;
}

// desktop navigation
.d-navbar {
    display: none;

    @include media-lg {
        display:flex;

        li  {
            margin-left: 55px;
            a {
                font-size:  15px;
                font-weight: 500;
                color: $txt-color;
                @include transition;
                #active {
                    color: $p1-color;
                  }
                &:hover {
                    color: $p1-color;
                  }
              
            }
        }
        
    }
}

#c-us {
    background: $p2-color;
    padding: 9px 20px;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    color: black;
    @include transition;
    &:hover {
        background-color: $hover-color;
    }
}




// main background
.main__bg {
    position: relative;
    height: 100vh;
    width: 100%;
    @include transition;
    overflow: hidden;

    @include media-lg {
        height: 700px;
    }
}
// .img-overlay {
//     width: 600px;
//     height: 600px;
//     background: rgba(0, 0, 0, 0.178);
//     border-radius: 50%;
//     @include media-md {
//         width: 700px;
//         height: 650px;
//         background: rgba(0, 0, 0, 0.247);

//     }
//     @include media-lg {
//         width: 900px;
//         height: 700px;
//         display: none;
//     }
// }
.main__bg-img {
    width: 600px;
    height: 600px;
    background: url('/assert/images/bg2.png');
    opacity: 0.5;
    filter: alpha(opacity=80);
    @include backgroundImage-setting;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: -220px;
    margin-top: -50px;
    z-index: -1;

    @include media-md {
        width: 80%;
        height: 650px;
    }
    @include media-lg {
        width: 70%;
        height: 700px;
         margin-right: -290px;

    }
}

.main__bg-text {
    padding: 15px;
    margin-top: 30vh;

    @include media-md {
          margin-top: 20vh;
    }
    @include media-lg {
        margin-top: 12vh;
    }

    h3 {
        font-weight: 500;
        font-size: 18px;
        text-transform: uppercase;
        color: rgb(49, 49, 49);
        // text-shadow: 2px 2px 5px #c7c5c5;
        padding-bottom: 12px;
    }
    h1 {
        font-size: 31px;
        color: #000;
        padding-bottom: 12px;

    }
    p {
        margin: 12px 0;
        border-left: 1px solid #000;
        padding-left: 12px;
        font-weight: 500;
        width: 350px;

        @include media-md {
        width: 500px;
        }
    }
}
.social-icons {
    margin-top: 20px;
    & a {
        padding-right: 25px;
        font-size: 22px;
        color: #000;
        @include transition;
        &:hover {
            color: $p1-color;
        }
    }
}
.sideBar-icons {
    margin: 30px 0px 0px 20px;
}
.g-btn {
    background: $p2-color;
    display: inline-block;
    padding: 12px 20px;
    border-radius: 6px;
    // width: 180px;
    font-size: 13px;
    font-weight: 500;
    margin-top: 15px;
    // clip-path: polygon(0 0, 100% 0, 77% 100%, 0% 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    cursor: pointer;
    @include transition;
    &:hover {
        background-color: #b18e4d;
    }
}

.layer {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: $p3-color;
    position: absolute;
    right: 0;
    margin-bottom: 50px;
}
.layer-2 {
    width: 30px;
    height: 30px;
    left: 0;
    margin-left: 30px;
}
.layer-3 {
    // left: 0;
    width: 30px;
    height: 30px;
    margin-top: 300px;
    z-index: -10;
    left: 0;
}

.top-courses {
    margin-top: 45px;
    padding: 0;
}

.section__info {
     display: block;
     margin: 15px;

    @include media-lg {
        display: flex;
        margin-top: 50px;
        justify-content: space-between;
    }
    @include media-lg {
          @include align-items(space-between);
    }
}


.sec {
    display: block;

    @include media-lg {
        display: block;
    }
}
.courses {
    position: relative;
    max-width: 500px;
    display: block;

    @include media-md {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;
        margin-top: 40px;
    }
    @include media-lg {
        // display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;
        height: 400px;
    }
   
  

    &__item {
        padding: 12px;
        border-radius: 9px;
        background: white;
         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 100%;
        margin-top: 40px;
        height: 230px;
        box-sizing: border-box;


        @include media-lg {
            max-width: 220px;
            height: auto;
        }
        @include media-md {
           margin-top: 0px;
           height: 230px;

        }

      

        h3 {
            font-size: 17px;
            font-weight: 500;
            margin: 8px 0;
        }

         &-img {
             img {
                 width: 100%;
                 height: 120px;
                 border: 1px solid #ccc;
                 border-radius: 9px;
                margin-top: 12px ;
                object-fit: cover;

                @include media-lg {
                    height: 150px;
                }
             }

             
         }
    }
    #num {
        background: #000;
        border-radius: 50%;
        color: white;
        padding: 7px;
        font-size: 12px;

    }


}
#nu {
    background: #000;
    border-radius: 50%;
    color: white;
    padding: 5px;
    font-size: 12px;
}

.plan-wrapper {
       max-width: 500px;
       @include grid-2-col;
        margin-top: 50px;
        grid-gap :10px;

        @include media-lg {
            margin-top: 100px;
            max-width: 450px;
        }
}
.plans {
    width: 200px;
    height: auto;
    background: white;
    border-radius: 6px;
    box-shadow: $box-shadow;
    padding: 12px;
    margin-top: 15px;

    @include media-md {
        width: 250px;
     }
    @include media-lg {
       width: 200px;
    }
  
}
.plans__info {
    margin-top: 12px;
    span {
        font-size: 15px;
        font-weight: 800;
        margin-top: 9px;
    }
    &-text {
        padding: 9px ;
        background: rgba(0, 175, 239, 0.137);
        border-radius: 6px;
        margin: 9px 0;
        
    }
}
.title {
    margin-top: 9px;
}


.lay {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: $p1-color;
    display: block;
    position: absolute;
    z-index: -1;
    margin-top: -50px;
    margin-left: -50px;

}

.about {
    margin-top:200px;
    padding: 15px;
    position: relative;

    @include media-lg {
        margin-bottom: 120px;
    }

    
}

.about__img {
    width: 90%;
    height: 350px;
    border-radius: 50%;
    background: url('/assert/images/shutterstock_125338145-900x500.jpg');
    @include backgroundImage-setting;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -80px;
    z-index: -1;
    opacity: 0.5;
    box-shadow: $box-shadow;

    @include media-md {
        margin-left: -220px;
        height: 500px;
    }
    @include media-lg {
        margin-left: -450px;
        height: 600px;
    }
}
.about-text {
    z-index: 1;

   @include media-md {
    float: right;
   }
}


.tutors {
    margin: 160px 15px 0px ;

    @include media-md {
        margin-top: 700px;
    }

    @include media-lg {
        margin-top: 700px;

    }
}

    .tutor__space {
        display: block;

        @include media-md {
            margin-top: 700px;
    
        }
        @include media-md {
            @include align-items(space-between);
        }
    }

.tutor__space-img {
    @include grid-2-col;
    max-width: 500px;

   
    @include media-lg {
        grid-gap: 50px;
    }

    .courses__item {
        width: 200px;
        height: auto;

        @include media-md {
            width: 180px;
        }
        @include media-lg {
            width: 260px;
        }


        img {
            width: 100%;
        }

        #num {
            display: none;
        }
    }
}

#title {
    color: #9c9c9c;
    font-style: italic;
}

.contact  {
    margin: 150px 15px 0px 15px; 
}

.map {
    width: 100%;
    margin: 20px 0;


    img {
        width: 100%;
        border-radius: 9px;

    }
}


.box {
    width: 100%;
    padding: 20px;
    border-radius: 9px;
    box-shadow: $box-shadow;
    background: #e2e2e2;
}
.same {
    padding: 12px;
    border-radius: 6px;
    background: white;
    border-left: 4px solid $p1-color;
    margin: 9px 0;
}

.message {

    input, textarea {
        width: 350px;
        padding: 12px;
        border-radius: 6px;
        border: none;
        background:white;
        border-left: 4px solid $p1-color;
        display: block;
    }
    input {
        margin: 12px 0
    }
}


































