$p1-color: #00AFEF;
$p2-color: #f8bd4e;
$p3-color : #03b0ef5d;
$link-color: #3a3a3a;

$txt-color: #5c5c5c;
$hover-color: #ce9b3d;

$overlay: rgba(0, 0, 0, 0.651);
$primary-2 : #FFCD2D;
$color: #ffffff9a;

$muted: #696969;